* {
    margin: 0 auto;
    padding: 0 auto;
    border: none;
    scroll-behavior: smooth;
}
body {
    background-color: #111111;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
.heading-wraper {
    width: 50%;
}
.section-header {
    margin-bottom: 1.3rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
    color: #FFFFFF;
    text-align: center;
}
.section-description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #ffffff7a;
    text-align: center;
}





/* home section design */
.home {
    max-width: 1440px;
    background: linear-gradient(#111111, #77777709);
}
.header {
    margin: 3rem 10rem;
    align-content: center;
}
.logo {
    float: left;
    font-size: 2.3rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}
.nav-bar {
    float: right;
    width: 50%;
    border: 1px solid #ffffff2c;
    border-radius: 2.5rem;
}
.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul li {
    padding: .7rem 2rem;
    list-style: none;
    border-radius: 2rem;
}
.nav-bar ul li a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-bar ul li:hover {
    padding: .5rem 2rem;
    background-color: #E6533C;
    border-radius: 2rem;
}

.home-content {
    margin: 3rem 7rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-wraper {
    width: 40%;
    float: left;
}
.title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 5rem;
    color: #FFFFFF;
}
.description, .habit-item p {
    margin: 1.5rem auto;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff88;
}
span {
    font-family: Miama;
    font-size: 8rem;
    font-style: italic;
    font-weight: 400;
    font-style: italic;
    color: #FFFFFF;
}
.btn {
    padding: 1rem;
    width: 48%;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    background: transparent;
}
.btn a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
}
.btn1 {
    float: left;
    background-color: #E6533C;
    transition: .3s ease;
}
.btn1:hover {
    background: transparent;
}
.btn2 {
    float: right;
    transition: .3s ease;
}
.btn2:hover {
    background-color: #E6533C;
}
.image {
    width: 50%;
}
.image img {
    margin-right: 15rem;
    float: right;
}
.cart-1 {
    position: absolute;
    top: 8rem;
    right: 11rem;
    width: 10rem;
    height: 4.2rem;
    padding: 1rem 1.2rem 1.2rem 1.5rem;
    background-color: #424141dc;
    border: 1px solid #ffffff1e;
    border-radius: .7rem;
}
.cart-number {
    font-size: 2.5rem;
    font-weight: 900;
    color: #FFFFFF;
}
.cart-text {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.cart-2 {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 3.5rem;
    right: 33rem;
    width: 10rem;
    height: 4.2rem;
    padding: 1rem 1.2rem 1.2rem 1.5rem;
    background-color: #424141dc;
    border: 1px solid #ffffff1e;
    border-radius: .7rem;
}
.cart-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}
.cart-number-2 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
}


/* habit section styles */
.habit {
    margin: 3rem auto;
    max-width: 1440px;
}
.circle {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: .3rem solid #252525;
}
.circle-1 {
    background-image: url(./images/image-3.png);
}
.circle-2 {
    background-image: url(./images/image-2.png);
}
.circle-3 {
    background-image: url(./images/image-4.png);
}
.circle-4 {
    background-image: url(./images/image-5.png);
}
.habit-item-wraper {
    margin: 4rem 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.habit-item {
    width: 20%;
}
.habit-item h3 {
    margin-top: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.1rem;
}
.habit-item p, .heading-wraper>p {
    text-align: center;
}
.habit-item p {
    margin-top: 1rem;
}


/* join section styles */
.join {
    max-width: 1440px;
    margin: 4rem auto;
}
.join-wraper {
    width: 80%;
    margin: 0 9.5rem;
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 1.1rem;
}
.join-content-wraper {
    margin: 2rem 3rem;
    width: 40%;
}
.join-content-wraper h2 {
    text-align: left;
}
.run-img {
    margin-right: 3rem;
    width: 22rem;
    height: 19rem;
    overflow: hidden;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.run-img img {
    transform: scale(.8) translateY(-320px) translateX(50px);
}