* {
    margin: 0 auto;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(17, 17, 17);
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* miama font */
@import url('https://fonts.cdnfonts.com/css/miama');

                

.section-description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: rgba(255, 255, 255, 0.478);
    text-align: center;
}



/* home styles */
.home {
    width: 100%;
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(119, 119, 119, .2), #111111);
}
.header {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
.menu-bar {
    display: none;
    color: rgb(255, 255, 255);
}
.logo {
    width: auto;
    font-size: 2.3rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.nav-bar {
    width: 40%;
}
.nav-bar ul {
    padding: .1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.173);
    border-radius: 2.5rem;
}
.nav-bar ul li {
    padding: .5rem;
    list-style: none;
}
.nav-bar ul li a {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-bar ul li:hover {
    background-color: rgb(230, 83, 60);
    border-radius: 1rem;
}
.active {
    background-color: rgb(230, 83, 60);
    border-radius: 1rem;
}
.home-content {
    margin: 3rem auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-wraper {
    width: 40%;
}
.title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 5rem;
    color: rgb(255, 255, 255);
}
span {
    font-family: 'Miama', sans-serif;
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.description, .habit-item p {
    margin: 1.5rem auto;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}
.btn {
    padding: 1rem;
    width: 49%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
    background: transparent;
    transition: .3s ease;
}
.btn a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.btn1 {
    /* float: left; */
    background-color: rgb(230, 83, 60);
}
.btn1:hover {
    background: transparent;
}
.btn2:hover {
    background-color: rgb(230, 83, 60);
}
.cart-number {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.cart-number-2 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.cart-text {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.cart-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.cart-1 {
    position: absolute;
    top: 7.5rem;
    right: 2rem;
    width: 10rem;
    height: 4.2rem;
    padding: 1rem 1.2rem 1.2rem 1.5rem;
    background-color: hsla(0, 1%, 26%, 0.863);
    border: 1px solid rgba(255, 255, 255, 0.118);
    border-radius: .7rem;
}
.cart-2 {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    right: 23rem;
    width: 10rem;
    height: 4.2rem;
    padding: 1rem 1.2rem 1.2rem 1.5rem;
    background-color: rgba(66, 65, 65, 0.863);
    border: 1px solid rgba(255, 255, 255, 0.118);
    border-radius: .7rem;
}





/* habit styles */
.habit {
width: 100%;
}
.heading-wraper {
    width: 50%;
}
.section-header {
    margin-bottom: 1.3rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
.circle {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: .3rem solid rgb(37, 37, 37);
}
.circle-1 {
    background-image: url(./images/image-3.png);
}
.circle-2 {
    background-image: url(./images/image-2.png);
}
.circle-3 {
    background-image: url(./images/image-4.png);
}
.circle-4 {
    background-image: url(./images/image-5.png);
}
.habit-item-wraper {
    margin: 4rem 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.habit-item {
    width: 20%;
}
.habit-item h3 {
    margin-top: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.1rem;
}
.habit-item p, .heading-wraper>p {
    text-align: center;
}
.habit-item p {
    margin-top: 1rem;
}



/* run styles */
.run {
    width: 100%;
}
.run-wraper {
    margin: 0 8rem;
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 1.1rem;
}
.btn-join {
    border: 1px solid rgb(34, 34, 34);
}
.btn-join:hover {
    border: 1px solid rgb(255, 255, 255);
}
.run-content-wraper {
    margin: 2rem 3rem;
    width: 40%;
}
.run-content-wraper h2, .exercise h2 {
    text-align: left;
}
.run-img {
    margin-right: 3rem;
    width: 22rem;
    height: 19rem;
    overflow: hidden;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.run-img img {
    transform: scale(.8) translateY(-320px) translateX(-900px);
}



/* exercise styles */
.exercise {
    width: 100%;
    margin: 5rem 0;
}
.exercise-content {
    width: 50%;
    margin: 3rem 8rem;
}
.exercise-img-wraper {
    margin: 0 8rem;
}
.exercise-column-1 {
    display: grid;
    grid-template-columns: 25% auto 25%;
}
.exercise-column-2 {
    display: grid;
    grid-template-columns: 40% auto 30%;
}
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.img-1 {
    background-image: url(./images/exercise1.jpg);
    background-size: cover;
}
.img-2 {
    background: url(./images/exercise2.png);
    background-size: cover;
}
.img-3 {
    background: url(./images/exercise3.png);
    background-size: cover;
}
.img-4 {
    background: url(./images/exercise4.png);
    background-size: cover;
}
.img-5 {
    background: url(./images/exercise5.jpg);
    background-size: cover;
}
.img-6 {
    background: url(./images/exercise6.jpg);
    background-size: cover;
}
.img-1::before, .img-2::before, .img-3::before, .img-4::before, .img-5::before, .img-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, .5);
}
.img-2::before {
    background-color: rgba(255, 0, 0, .3);
}
.img-3::before {
    background-color: rgba(0, 0, 0, .5);
}
.img-4::before {
    background-color: rgba(0, 0, 0, .5);
}
.img-5::before {
    background-color: rgba(66, 255, 0, .3);
}
.img-6::before {
    background-color: rgba(0, 71, 255, .3);
}
.exercise-column-1 h1, .exercise-column-2 h1 {
    width: 60%;
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}
.img-1 h1 {
    color: #000000;
}
.img-1 h1, .img-5 h1, .img-6 h1 {
    left: 1.5rem;
    bottom: 1.5rem;
}
.img-2 h1 {
    top: 1.5rem;
    left: 1.5rem;
}
.img-3 h1 {
    left: 1.5rem;
    bottom: 1.5rem;
}
.img-4 h1 {
    width: 40%;
    text-align: left;
    right: 1.5rem;
    top: 1.5rem;
}



/* bmi section styles */
.bmi {
    width: 100%;
    margin: 0;
}
.bmi-header {
    width: 50%;
}
.bmi-header>.description {
    width: 85%;
}
.bmi-section-header, .bmi-header {
    text-align: left;
}
.bmi-wraper {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: rgb(34, 34, 34);
}
.bmi-chart {
    width: 70%;
    margin-left:8rem;
}
.bmi-title {
    width: 100%;
    color: rgb(255, 255, 255);
    margin-bottom: 3rem;
}
table {
    float: left;
    border-collapse: collapse;
}
.bmi-chart>table tr td, th {
    padding: .7rem .5rem;
    border: 1px solid rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, 0.5);
}
.bmi-chart>table tr th {
    font-weight: 600;
    color: rgb(255, 255, 255);
    
}
.bmi-calc {
    width: auto;
    margin-right: 8rem;
}
.bmi-calc-content {
    padding: 0 0 0 .5rem;
    margin-bottom: 0;

}
.bmi-calc>form {
    float: right;
}
.bmi-calc-content>.bmi-title {
    margin: 0;
}
form>input {
    width: 42%;
    padding: 1rem;
    margin: .3rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .1);
}
.last {
    width: 91.3%;
}
.btn-calc {
    margin: 1.5rem .4rem;
    border: 1px solid rgb(34, 34, 34);
}
.btn-calc:hover {
    border: 1px solid rgb(255, 255, 255);
}


/* team styles */
.team {
    margin: 5rem 0;
    width: 100%;
}
.team-content-wraper {
    width: 50%;
    text-align: center;
}
.team-wraper {
    margin: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.team-item {
    position: relative;
    width: 100%;
    height: 16rem;
    border-radius: 1rem;
    overflow: hidden;
}
.trainer-img-4 img {
    position: relative;
    transform: scale(1.5) translateX(-1.7rem) translateY(1.6rem);
    z-index: -100;
}
.trainer-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.trainer-img img {
    width: 100%;
}
.trainer-name {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
    z-index: 100;
}
.designation {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    z-index: 200;
}



/* class styles */
.class {
    margin: 3rem 8rem;
    max-width: 1440px;
}
.class-item-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.class>p {
    width: 90%;
    text-align: center;
}
.class-item {
    overflow: hidden;
    /* border: 1px solid rgba(255, 255, 255, .1); */
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .1);
    transition: .3s;
}
.class-item:hover {
    box-shadow: .2rem rgba(94, 94, 94, 0.616);
    transform: scale(1.05);
}
.class-item img {
    width: 100%;
    transition: .3s;
}   
.class-content {
    margin: 2rem 0 1rem 0;
    text-align: center;
    transition: .3s ease;
}
.class-content>hr {
    width: 80%;
    margin: 0 2rem;
}
.btn-more {
    margin: 1rem 0;
    width: 30%;
}
time {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}
.class-content>h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}



/* footer styles */
hr {
    margin-top: 5rem;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, .1);
}
.footer {
    background-color: rgba(255, 255, 255, .1);
}
.footer-content {
    display: flex;
}
.about-wraper {
    width: 32%;
}
.about-logo {
    margin: 5rem 0;
    margin-bottom: 2rem;
    font-size: 4.3rem;
    font-weight: 800;
}
.about-title {
    font-weight: 700;
    font-size: 2rem;
    margin: 5rem 0;
    margin-bottom: 2rem;
}
.about ul li {
    color: rgba(255, 255, 255, .5);
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
}
footer {
    height: 5rem;
    align-content: center;
}
footer>p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}





/* Reaponsive design for small device */
@media screen and (max-width: 576px) {
    /* home responsive */
    .nav-bar {
        display: none;
    }
    .menu-bar {
        display: block;
        font-size: 1.5rem;
    }
    .home-content {
        margin: 3rem 2rem;
        position: relative;
        display: block;
    }
    .section-header {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 800;
    }
    .content-wraper {
        width: 100%;
    }
    .title {
        font-size: 4rem;
        font-weight: 700;
    }
    .home-content>.image {
        margin: 3rem auto;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home-content>.image img {
        margin-right: 6.5rem;
        width: 60%;
        position: relative;
    }
    .cart-1 {
        top: 1rem;
        right: 0;
    }
    .cart-2 {
        bottom: 2rem;
        right: 10rem;
    }
    /* habit responsive */
    .habit {
        margin: 0 auto;
    }
    .heading-wraper {
        width: 90%;
    }
    .habit-item-wraper {
        margin: 2rem 2rem;
        flex-direction: column;
    }
    .habit-item {
        width: 80%;
    }
    /* run responsive */
    .run-wraper {
        margin: 0 2rem;
        flex-direction: column;
        justify-content: center;
    }
    .run-content-wraper {
        margin: 1rem 2rem;
        width: 90%;
    }
    .run-content-wraper>.btn {
        width: 100%;
    }
    .run-img {
        margin: 1rem auto;
        width: 90%;
    }
    /* exercise responsive */
    .exercise {
        width: 100%;
        margin: 4rem 0;
        overflow: hidden;
    }
    .exercise-content {
        width: 90%;
        margin: 2rem 2rem;
    }
    .exercise-img-wraper {
        margin: 0 2rem;
    }
    .exercise-column-1 {
        display: grid;
        grid-template-columns: 50% auto;
    }
    .exercise-column-2 {
        display: grid;
        grid-template-columns: 45% auto;
    }
    .img-3 {
        display: none;
    }
    .img-6 {
        display: none;
    }
    /* bmi responsive */
    .bmi-header {
        width: 100%;
    }
    .bmi-section-header {
        margin: 0 2rem;
        text-align: left;
    }
    .bmi-wraper {
        flex-direction: column;
    }
    .bmi-chart {
        width: 90%;
        margin: 2rem 2rem;
    }
    .bmi-calc {
        width: 90%;
        margin: 2rem 2rem;
    }
    .bmi-calc-content {
        padding: 0;
    
    }
    .bmi-calc>form {
        float: left;
    }
    form>input {
        width: 85%;
    }
    .last {
        width: 85%;
    }
    
    /* team responsive */
    .team {
        margin: 4rem auto;
    }
    .team-content-wraper {
        width: 90%;
    }
    .team-wraper {
        margin: 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        background-color: rgb(34, 34, 34);
        border-radius: 1rem;
    }
    .trainer-img {
        position: relative;
    }
    .trainer-content {
        z-index: 100;
    }
    .trainer-img-4 img {
        z-index: 50;
    }
    /* classes responsive */
    .class {
        margin: 2rem auto;
        width: 85%;
    }
    .class-item-wraper {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }
    .class-content {
        margin: 0;
        text-align: center;
        transition: .3s ease;
    }
    .btn-more {
        margin-bottom: 3rem;
        width: 30%;
    }


    /* footer responsive */
    hr {
        margin: 0 2rem;
        margin-top: 2rem;
        width: 85%;
    }
    .footer-content {
        flex-direction: column;
    }
    .about-wraper {
        margin: 0 2rem;
        width: 80%;
    }
    .about-wraper>.description {
        margin-bottom: 0;
    }
    footer>p {
        margin: 0 2rem;
        text-align: left;
    }
    .about {
        margin: 0 2rem;
    }
    .about-title {
        margin: 2rem 0;
    }

}



